@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Nanum+Gothic|Raleway');

body {
    margin: 0;
    background-color: #c1c1c1;
}

#idPageContentContainer {
    text-align: center;
}

/*

  PAGE TEXT STUFF

*/

#idPageHeaderContainer {
    font-family: Maven Pro, sans-serif;
}

#idPushImg {
    min-width: 300px;
    min-height: 300px;
}

/*

  CHOICES CONTAINER & RELATED STUFF

*/

#idChoicesContainer {
    background-color: rgb(2, 46, 64);
    display: inline-flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    color: white;
    font-size: 12pt;
    font-family: Nanum Gothic, sans-serif;
}

figure {
    margin: 0;
}

figure img, #idPageImage {
    border-radius: 8px;
    max-height: 300px;
}

/*

  SUBMIT BUTTON STYLING

*/

[type=submit] {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    width: 300px;
    height: 60px;
    min-height: 50px;
    font-family: Maven Pro, sans-serif;
    font-size: 20pt;
    transition-duration: 0.4s;
}

[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
